/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

    /* turquoise color */
:root{
   --9c: #1abc9c;
   --a9: #46bfa9;
   --ls-calc: -20 / 1000;
}

*{
   box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Arial', sans-serif;
    text-transform: uppercase;    
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul, menu{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: block;
}

nav{
    width: 1110px;
    background-color: #fff;
    height: 91px;
    margin: 0 auto;
    padding-top: 33px;
}

figure{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.site-logo{
    float: left;
    margin: 0;
    
}

.site-name{
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    letter-spacing: calc(var(--ls-calc) * 30px);
}

.site-name::first-letter{
    font-weight: 900;
    color: var(--9c);
}

menu{
    float: right;
    padding-top: 10px;
    margin-bottom: 40px;
    margin: 0;
}

.menu-item{
    float: left;
    margin-right: 32px;
}

.menu-item a:hover{
    color: var(--9c);
}

.menu-item:last-child{
    margin-right: 0;
}

.menu-item a{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
    letter-spacing: calc(var(--ls-calc) * 14px);
}

.slider{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../img/slide4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #323232;
    z-index: 1;
}
  
.slider-text{
    margin: 0;
    position: absolute;
    top: 200px;
    left: 305px;
    z-index: 5;
}

.slide-name{
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: calc(var(--ls-calc) * 60px);
    font-weight: 900;
    color: #fff;
}

.slide-description{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: calc(var(--ls-calc) * 24px);
    color: #fff;
}

.overlay-slider {
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
    position: absolute;
    width: 1600px;
    height: 600px;
    top: 0;
    right: 0;
    z-index: 2;
  }

.slider-button{
    height: 104px;
    width: 104px;
    background-color: #4e9c8a;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 225px;
    z-index: 5;
    background-size: contain;
    background-position: center;
    opacity: 65%;
}

.slider-button:hover{
    background-color: var(--9c);
    opacity: 100%;
}

.left{
    left: 120px;
    background-image: url('../img/icons/angle-left.svg');
}

.right{
    right: 120px;
    background-image: url('../img/icons/angle-right.svg');
}
  

.new-collection{
    background-color: #e9f0fd;
    padding-top: 102px;
    margin: 0;
    padding-bottom: 100px;
}

.new-collection h2{
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
    margin: 0 auto;
    text-align: center;
    letter-spacing: calc(var(--ls-calc) * 48px);
    margin-bottom: 80px;
}

.new-collection h2::after{
    display: block;
    width: 164px;
    height: 7px;
    background-color: var(--9c);
    content: "";
    margin: 32px auto auto auto;
    padding: 0;
}

.product-list{
    width: 1110px;
    margin: 0 auto;
    padding: 0;
    
}

.product-section{
    position: relative;
    z-index: 50;
    float: left;
    margin-right: 30px;
    width: 255px;
    height: 322px;
}

.product-section figcaption{
    position: absolute;
    bottom: 0;
}

.product-section:last-child{
    margin-right: 0;
}

.product-name, .price{
    float: left;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    letter-spacing: calc(var(--ls-calc) * 18px);
    margin: 0;
    padding-top: 5px;
}

.product-name{
    background-color: #323232;
    width: 201px;
    height: 40px;
    padding-left: 13px;
}

.price{
    background-color: #8c8c8c;
    width: 54px;
    height: 40px;
    padding-left: 12px;
}

.overlay-product-img{
    position: absolute;
    top: 0;
    width: 255px;
    height: 282px;
    background-color: rgb(0, 0, 0, .55);
    border: 10px solid #fff; 
    opacity: 0;
}

/*********CARDS HOVERS********/

.product-section:hover .overlay-product-img{
    opacity: 1;
}

.product-section:hover .product-name{
    background-color: var(--9c);
}

.product-section:hover .price{
    background-color: #7fd9c7;
}

.buttons-wrapper{
    position: absolute;
    bottom: 75px;
    left: 35px;
    width: 166px;
    height: 107px;
    margin: 0;
    padding: 0;
}

/************ Product Buttons ONLY ********/
div button{     
    float: left;
    margin-right: 8px;
    margin-bottom: 7px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}

button:hover{
    background-color: var(--9c);
}

.button-like{
    background-image: url(../img/icons/like.svg);
}

.button-shuffle{
    background-image: url(../img/icons/shuffle.svg);
}

.button-clock{
    background-image: url(../img/icons/clock.svg);
    margin: 0;
}

.button-cart{
    /* background-color: rgba(50, 50, 50, 1); */
    font-size: 0;
    margin: 0;
    width: 166px;
}

.button-cart::before{
    content: '';
    float: left;
    width: 48px;
    height: 48px;
    background-image: url(../img/icons/cart.svg);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
}

.button-cart:hover{
    background-color: rgba(50, 50, 50, 1);
}

.cart-text{
    display: block;
    float: left;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: calc(var(--ls-calc) * 14px);
    color: #fff;
    text-transform: uppercase;
    padding-left: 12px;
    padding-top: 8px;
    margin: 0;
    
}
  
.copyright-info{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    background-color: #323232;
    text-transform: capitalize;
    margin: 0;
    padding-top: 32px;
    height: 88px;
    letter-spacing: calc(var(--ls-calc) * 16px);
    text-align: center;
}

.copyright-info p{
    margin: 0;
    padding: 0;
}

.designed-company{
    display: inline;
    color: var(--a9);
}
  
  


  